 @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

 .home{
  background-image: url(Фон_главная.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }
 .info{
  background-image: url(Фон_инфо.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

.history{
  background-image: url(Фон_сюжет.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 10px;
 }

.sticker{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000008c;
  width: 70%;
  color: #fff;
  margin: 16px;
  padding: 30px;
  text-align: center;
  }
.sticker_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000008c;
  width: 70%;
  color: #fff;
  margin: 20px;
  padding: 30px;
  text-align: center;
  }


body {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 70px;

}

.link {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;

}

main {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  background-attachment: fixed;
  align-items: center;
}

.articles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-right: 200px ;
  padding-bottom: 500px;
}


.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: #0000008c;
  width: 50%;
  color: #fff;
}

.banner_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  background-color: #0000008c;
  width: 50%;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100px;
  background-color: #000;
  color: #fff;
  padding-left: 200px ;
}
.banner h1{
  text-align: center;
}